<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
    <h2>New User</h2>
  
    <form action="/auth/register" method="post">
      <div>
        <label>Name</label>
        <input name="name" placeholder="John" />
      </div>
      <div>
        <label>Email</label>
        <input name="email" type="email" placeholder="john.doe@email.com" />
      </div>
      <div>
        <label>Password</label>
        <input name="password" type="password" placeholder="******" />
      </div>
  
      <button type="submit">Create User</button>
    </form>
  </div>
</div>
</div>