<div class="container">
<h1>Update</h1>
<form action="/update/<%=post._id%>" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" value="<%=post.title%>" minlength="5">
    <label>Post</label>
    <textarea class="form-control" name="content" rows="5" cols="30" minlength="30"><%=post.content%></textarea>
  </div>
  <div>
    <label>Priority (1-5)</label>
    <input class="form-control" type="number" name="priority" value="<%=post.priority%>" min="1" max="5">
  </div>
  <div>
    <label>Status</label>
    <input name="status" type="radio" value="Nil" /> Nil
    <input name="status" type="radio" value="In Progress" /> InProgress
    <input name="status" type="radio" value="Done" /> Done
  </div>
  <button class="btn btn-primary" type="submit">Update</button>
</form>
</div>