<div class="container">
<h1>Welcome to the task tracker list</h1>

<ul>
    <li>Share with everyone what is the goal for the task you are attempting</li>
    <li>Sign up to post your task and access to the todolist</li>
    <li>Create your own TO-DO-LIST, only to yourself</li>
    <li>Free up your mental space and be accountable with your goals</li>
</ul>
</div>