<div class="container">
<h1>Welcome to the Task List Tracker</h1>

<ul>
    <li>Share with everyone what are the goals for the task you are attempting</li>
    <li>Be accountable with your goals and tasks through sharing on the post.</li>
    <li>Sign up to post your task and access to the To-Do-List</li>
    <li>Create your own To-Do-List, only to yourself</li>
    <li>Focus on the task you need to do. </li>
    <li>Do have fun and check in with your friends!</li>
</ul>
</div>