<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Sei Proj 2</title>
</head>
<body>
  <% if(alerts.error){%> <% alerts.error.forEach(message => {%>
    <div class="alert alert-danger mb-0">
      <%= message %>
    </div>
    <%}) } %> <% if(alerts.success){%> <% alerts.success.forEach(message => {%>
    <div class="alert alert-success mb-0">
      <%= message %>
    </div>
    <%}) } %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Pics</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compose">Compose</a>
            </li>
          </ul>
          <% if(currentUser){%>
          <form class="form-inline my-2 my-lg-0" >
            <a class="nav-link" href="/auth/logout">Logout</a>
          </form>
          <% }else { %>
            <form class="form-inline my-2 my-lg-0">
              <a class="nav-link" href="/auth/login">Login</a>
            </form>
            <% } %>
            <form class="form-inline my-2 my-lg-0">
              <a class="nav-link" href="/auth/register">Signup</a>
            </form>
        </div>
      </nav>
    <%- body %> 
</body>
</html>
