<div class="box heading">
  <h2> <%= currentUser.name %>'s List </h2>
</div>


  <div class="box">
    <% lists.forEach(list => { %>
      <form action="/list/delete" method="post">
      <div class="todolist">
        <input type="checkbox" name="checkbox" value="<%=list._id%>" onChange="this.form.submit()">
        <p><%=list.name%></p>
      </div>
    </form>
      <% }) %>
      <form class="todolist" action="/list" method="post">
        <input type="text" name="newList" placeholder="New List" autocomplete="off">
        <button type="submit" class="listButton" name="list">+</button>
      </form>
  </div>