<h1> Title</h1>

  <div class="box">
    <% lists.forEach(list => { %>
      <form action="/list/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=list._id%>" onChange="this.form.submit()">
        <p><a href="/list/read/<%= list._id %>"><%=list.name%></a></p>
      </div>
    </form>
      <% }) %>
      <form class="item" action="/list" method="post">
        <input type="text" name="newList" placeholder="New List" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
  </div>